pkgbase = terraform-index
	pkgdesc = A simple tool which prints the AST of a HCL file
	pkgver = 0.0.2
	pkgrel = 1
	url = https://github.com/mauve/terraform-index
	arch = x86_64
	license = BSD
	source = https://github.com/mauve/terraform-index/archive/0.0.2.tar.gz
	source = LICENSE
	sha256sums = 4c0417c91211ff15ec5ad2f10f322a25b639937562de822696dbef4c18596b23
	sha256sums = 8d30e4d4e52fc07a98e90dcbbe71284520019b51b4beb95509b12a04e2cc5cf5

pkgname = terraform-index

